<?xml version="1.0" encoding="utf-8" ?>
<configuration>


<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Skwerl-20130609131608;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Skwerl-20130609131608.mdf" providerName="System.Data.SqlClient" />
</connectionStrings>

</configuration>